<h1>Insira um numero de 0 a 15</h1>


<form action="/" method="post">
    <p><input type="number" name="numero" id="numero"> </p>
    <p> <button name="Inserir Pessoa">OK</button></p>       
</form>

<% for(let i = 0; i > leituras.lengh; i++){ %>
    <p>Canal: <%= leituras[i]; %></p>
<% } %>