<% include partials/cabecalho %>

<div class="container">
    <div id="leituras" class="row">
        <h1 id="tituloMedidores">Medidas do gerador solar fotovoltaico:</h1>
        <div class="col-md-6">
            <h2>Tensão:</h2>
            <div id="tensaoSolar" class="displayMedidas" class="jumbotron" ></div>
        </div>
        <div class="col-md-6">
                <h2>Corrente:</h2>
            <div id="correnteSolar" class="displayMedidas" class="jumbotron" ></div>
        </div>
    </div>
</div>
<% include partials/rodape %>